* {
    margin: 0;
}

body {
    margin: 0;
}

.example-1 {
    background-color: red;
    left: 40;
}

.example-2 {
    background-color: blue;
    left: 400px;
    top: 10px;
    position: relative;
    z-index: 1;
}

.example-3 {
    background-color: yellow;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 0;
}

.container {
    background-color: green;
    width: 80vh;
    height: 200px;
    position: relative;
}